/* General Reset and Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6C6A74;
  text-align: left;
  background-color: #fff;
}

a {
  color: #326DE7 !important;
  text-decoration: none !important;
  background-color: transparent !important;
}


a:hover {
  color: #0C3FAB;
  text-decoration: underline;
}

/* Navbar Styling */
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-item {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-item .nav-link {
  color: #326DE7;
  text-decoration: none;
  background-color: transparent;
}


.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

/* Responsive Behavior */
@media (max-width: 991.98px) {
  .navbar-expand-lg .navbar-collapse {
    display: none;
  }

  .navbar-expand-lg .navbar-collapse.collapse {
    display: flex;
  }

  .navbar-expand-lg .navbar-collapse.collapsing {
    height: auto;
    overflow: hidden;
    display: flex;
  }

  .navbar-expand-lg .navbar-toggler {
    display: block;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

/* Estilos adicionales para pantallas pequeñas */
@media (max-width: 991.98px) {
  /* Cambia el fondo y el color del texto del botón de hamburguesa en pantallas pequeñas */
  .navbar-toggler {
    border-color: #fff; /* Cambia el color del borde */
    color: #000; /* Cambia el color del texto */
  }

  /* Estilo para el navbar en pantallas pequeñas */
  .navbar-collapse {

    padding: 1rem; /* Añade espacio alrededor de los elementos del navbar */
    border-radius: 0.5rem; /* Añade bordes redondeados al navbar */
  }

  /* Estilo para los elementos de navegación en pantallas pequeñas */
  .navbar-nav .nav-item {
    padding: 0.5rem 0; /* Ajusta el espacio entre los elementos de navegación */
  }

  /* Estilo para los enlaces de navegación en pantallas pequeñas */
  .navbar-nav .nav-link {
    padding: 0.5rem 0; /* Ajusta el espacio alrededor de los enlaces de navegación */
  }
}

/* Oculta el input del checkbox */
.navbar-toggler.visually-hidden {
  display: none;
}

/* Estilo para el botón de hamburguesa */
.navbar-toggler-icon {
  cursor: pointer;
}

/* Estilo para el navbar en pantallas pequeñas */
@media (max-width: 991.98px) {
  /* Oculta el navbar cuando el checkbox está marcado */
  #toggleNavbar:not(:checked) ~ .collapse.navbar-collapse {
    display: none;
  }

  /* Muestra el navbar cuando el checkbox está marcado */
  #toggleNavbar:checked ~ .collapse.navbar-collapse {
    display: block;
  }

  /* Estilo para el navbar en pantallas pequeñas */
  .collapse.navbar-collapse {
    padding: 1rem; /* Añade espacio alrededor de los elementos del navbar */
    border-radius: 0.5rem; /* Añade bordes redondeados al navbar */
  }

  /* Estilo para los elementos de navegación en pantallas pequeñas */
  .navbar-nav .nav-item {
    padding: 0.5rem 0; /* Ajusta el espacio entre los elementos de navegación */
  }

  /* Estilo para los enlaces de navegación en pantallas pequeñas */
  .navbar-nav .nav-link {
    padding: 0.5rem 0; /* Ajusta el espacio alrededor de los enlaces de navegación */
  }
}

/* Agrega estos estilos al final de tu archivo CSS */

/* Estilo para el contenedor de la barra de navegación */
.container-fluid.navbar-container {
  background-color: transparent; /* Establece el fondo transparente */
}

/* Estilo para los enlaces de navegación */
.navbar-nav .nav-link {
  border-bottom: none; /* Elimina la línea inferior */
}

/* Estilo para el fondo de la barra de navegación en pantallas grandes */
@media (min-width: 992px) {
  .navbar-expand-lg.bg-light {
    background-color: transparent; /* Establece el fondo transparente */
  }
}

/* Estilo para el fondo de la barra de navegación en pantallas pequeñas */
@media (max-width: 991.98px) {
  .navbar-expand-lg.bg-light .navbar-collapse {
    background-color: transparent; /* Establece el fondo transparente */
  }
}


/* Estilo para los enlaces de navegación */
.navbar-nav .nav-link {
  border-bottom: none; /* Elimina la línea inferior */
}

@media (min-width: 992px) {
  .navbar.navbar-expand-lg:not(.bg-light) .navbar-toggler {
    display: none;
  }
}
/* Oculta el botón de hamburguesa en pantallas grandes */
@media (min-width: 992px) {
  .navbar-toggler {
    display: none !important;
  }
}
/* Estilo para los enlaces de navegación en pantallas pequeñas */
@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    text-align: center; /* Centra el texto */
    padding: 0.5rem 0; /* Ajusta el espacio alrededor de los enlaces de navegación */
    color: #326DE7 !important; /* Añade !important para asegurar la especificidad */
    transition: color 0.3s ease; /* Agrega una transición suave */

  }

  .navbar-nav .nav-link:hover {
    color: white !important; /* Cambia el color del texto en hover */
    text-decoration: underline;
    background-color: #326DE7 !important;/* Subraya el texto en hover */
  }
}




